<nav>
    <!-- Bottom NavBar -->
    <div class="header-bottom">
        <div class="wrap">
        <!-- main navbar -->
        <ul class="megamenu skyblue">
            <li><a class="color13" href="/">Home</a></li>
            <li><a class="color13" href="/product_details.ejs">Men</a>
            <li><a class="color13" href="/product_details.ejs">Women</a>
            <li><a class="color13" href="/product_details.ejs">Kids</a>
            <div class="clear"></div>
            </div>
        </div>
</nav>